<!DOCTYPE html>
<html>
<head>
  <title>Trexr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class = "navbar-inner">
			<div class="container">
				<a href="#" class="brand" id="title-me">Trexr</a>
				<ul class="nav">
					<li><%= link_to "Statuses", statuses_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container"> 
	<p class="notice"></p>
       <p class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><%= alert %><b>Heads up!</b>  Trexr is still in developer stages!</p>
		<%= yield %>
	</div>
</body>
</html>
